@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Commissioner", sans-serif;
}

html,
body {
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
}

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.heroImg {
  background-image: url("./images/image-hero-desktop.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navBar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 5% 10%;
}

.navBar a {
  text-decoration: none;
  color: white;
  padding-left: 10%;
  font-size: 16px;
}

.navLinks {
  width: 25%;
}

.introBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25%;
  padding: 0 3% 3% 3%;
  border-radius: 10px;
  position: relative;
  top: -90px;
}

.masterCLogo {
  position: relative;
  top: -30px;
}

.title {
  padding-bottom: 2%;
  font-size: 1.8rem;
}

p {
  color: hsl(0, 0%, 48%);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 5%;
}

.BackProjectBtn {
  background-color: hsl(176, 50%, 47%);
  border: none;
  padding: 2% 5%;
  color: white;
  border-radius: 40px;
}

.bookmarkToggle {
  background-color: rgb(247, 247, 247);
  border: none;
  padding: 0 5% 0 0;
  color: hsl(0, 0%, 48%);
  border-radius: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bookmarkIcon {
  margin-right: 16px;
}

.bookmarked {
  color: hsl(176, 72%, 28%);
  fill: hsl(176, 72%, 28%);
}

.bookmarkedFill {
  fill: white;
}

.backingDetails {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: white;
  align-items: center;
}

.middle {
  border-right: 1px solid hsl(0, 0%, 48%, 40%);
  border-left: 1px solid hsl(0, 0%, 48%, 40%);
  padding: 0 10%;
  margin: 0 10%;
}

.backingDetailsAll {
  background-color: white;
  margin: 0 25%;
  padding: 3%;
  border-radius: 10px;
  margin-top: -60px;
}

.progressBar {
  width: 100%;
  height: 10px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  margin-top: 5%;
}

.progress {
  background-color: hsl(176, 50%, 47%);
  /* width: 60%; */
  height: 10px;
  border-radius: 10px;
}

.AboutSection {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 3% 25%;
  padding: 3%;
  border-radius: 10px;
}

.aboutTitle {
  padding-bottom: 5%;
}

.donationOptions {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 48%, 40%);
  padding: 5% 4%;
  border-radius: 10px;
  margin-top: 4%;
}

.donationOptions.selected {
  outline: 2px solid hsl(176, 50%, 47%);
}

.donationHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.padding {
  padding-top: 4%;
}

.pledgeBtn {
  border: none;
  background-color: transparent;
  color: hsl(176, 50%, 47%);
  margin-bottom: 5%;
}

.donationOptions > p {
  line-height: 150%;
}

.quantityLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.numberPadding {
  padding-right: 10%;
}

.BackProjectBtn:hover {
  background-color: hsl(176, 72%, 28%);
}

.continueBtn:hover {
  background-color: hsl(176, 72%, 28%);
}
.soldOut {
  opacity: 50%;
}

.soldOutBtn {
  background-color: hsl(0, 0%, 48%, 40%);
}

.modal {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 1000;
  background-color: white;
  flex-direction: column;
  margin: 0 25%;
  padding: 3%;
  border-radius: 10px;
}

.backHeader {
  font-size: 1.6rem;
}
.modal-content {
  border-radius: 4px;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.open {
  display: block;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.modalHeader > h3 {
  margin-bottom: 3%;
}

.pledgeNo {
  display: flex;
  flex-direction: row;
  align-items: flex;
}

h4 {
  margin-left: 3%;
  margin-bottom: 3%;
}

.description {
  margin-left: 6.5%;
  font-size: 0.95rem;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: flex;
}

.headerLeft > h4 {
  padding-right: 2%;
}

.headerLeft > h4:hover {
  color: hsl(176, 50%, 47%);
}

.pledgeNo > h4:hover {
  color: hsl(176, 50%, 47%);
}

.cyanText {
  color: hsl(176, 50%, 47%);
}

.boldedText {
  font-weight: 600;
  font-size: large;
  color: black;
}

.closeModalBtn {
  background-color: transparent;
  border: none;
}

.closeModalBtn .closeIcon {
  fill: hsl(0, 2%, 66%);
}

.closeModalBtn:hover .closeIcon {
  fill: black;
}

input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 5px;
  /* background-color only for content */
  background-clip: content-box;
  border: 1px solid hsl(0, 0%, 48%, 40%);
  border-radius: 50%;
}

input[type="radio"]:checked {
  background-color: hsl(176, 50%, 47%);
}

.flex {
  display: flex;
  align-items: center;
}

.pledge {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.pledgeInput {
  box-sizing: border-box;
  width: 85px;
  border-radius: 50px;
  height: 40px;
  border: 1px solid hsl(0, 0%, 48%, 40%);
  padding-left: 24px;
  margin-bottom: 2px;
}

.input {
  width: 200px;
  height: auto;
}

.continueBtn {
  box-sizing: border-box;
  width: 90px;
  border-radius: 50px;
  height: 40px;
  background-color: hsl(176, 50%, 47%);
  border: none;
  color: white;
  font-family: 600;
  margin-left: 24px;
}

.line {
  border: 1px solid hsl(0, 0%, 48%, 40%);
  margin: 5% 0;
  width: 150%;
  left: -4.4%;
  position: relative;
  opacity: 40%;
}

.pledgeDropdown {
  transition: max-height 0.2s ease-in-out;
  max-height: 0px;
  overflow: hidden;
}

.pledgeDropdown.open {
  max-height: 500px;
}

.successModal {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30%;
  padding: 3%;
  border-radius: 10px;
  position: absolute;
  top: 20%;
}

.successParagraph {
  line-height: 160%;
  text-align: center;
  margin: 4% 0;
}

.paddingBottom {
  padding-bottom: 6%;
}

.pledgeInput:focus {
  outline: 1px solid hsl(176, 50%, 47%);
}

.menu-icon {
  visibility: hidden;
}

@media screen and (max-width: 375px) {
  .app {
    width: 100vw;
  }

  .navLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    background-color: white;
    padding: 0;
    width: 80%;
    border-radius: 10px;
    z-index: 100;
    /* justify-content: space-between; */
  }

  .navLinks a {
    color: black;
    padding: 8% 5%;
  }

  .borderBottom {
    border-bottom: 1px solid hsl(0, 0%, 48%, 40%);
  }

  .navBar {
    z-index: 10;
  }

  .overlay {
    z-index: 5;
  }

  .btn {
    background-color: transparent;
    border: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .navLinks.open {
    visibility: hidden;
    position: absolute;
  }
  .menu-icon {
    visibility: visible;
  }

  .introBox {
    margin: 0 6%;
    padding: 0 8% 10% 8%;
    align-items: center;
  }

  .introBox p {
    text-align: center;
    font-size: 0.9rem;
    line-height: 170%;
  }

  .title {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 5%;
  }

  .bookmarkText {
    display: none;
  }

  .bookmarkIcon {
    margin: 0;
  }

  .buttonContainer {
    padding-top: 10%;
  }

  .bookmarkToggle {
    padding: 0 0 0 0;
  }

  .BackProjectBtn {
    margin: 0 5% 0 0;
    width: 80%;
  }
}

@media screen and (min-width: 1440px) {
  .app {
    max-width: 1440px;
    margin: 0 auto;
  }
}
